streamlit  # ui framework
tensorflow # ml framework
numpy # numeric computing
pandas # data analysis
matplotlib # data visualization
librosa # audio processing
soundfile # audio file handling
huggingface-hub    # model loading

